/* info-card */
.flex-container{
	display:flex;
	justify-content:center;
}

/* for th third grid charts */
.flex-container> .graph1{
	/* width:33.7%; */
	padding-left:10px;
	padding-right:10px;
	height:50%;
	margin:10px;
	border:1px solid rgba(223, 223, 226, 0.404);
}

/* for each info-card */
.info:nth-child(1){
	background-color: rgba(234,142,57,.2);
	border:2px solid rgba(234,142,57,1);
	color: rgba(234,142,57,1)
}
.info:nth-child(2){
	background-color: rgba(236,72,127,.2);
	border:2px solid rgba(236,72,127,1);
	color: rgba(236,72,127,1);
}
.info:nth-child(3){
	background-color: rgba(56,175,91,.2);
	border:2px solid rgba(56,175,91,1);
	color: rgba(56,175,91,1);
}

/* hover property of each info-card */
.info:hover:nth-child(1){
	background-color: rgba(234,142,57,1);
	border:2px solid rgba(234,142,57,1);
	color: white;
}
.info:hover:nth-child(2){
	background-color: rgba(236,72,127,1);
	border:2px solid rgba(236,72,127,.2);
	color: white
}
.info:hover:nth-child(3){
	background-color: rgba(56,175,91,1);
	border:2px solid rgba(56,175,91,1);
	color: white;
}

/* individual info-card */

.info{
	width:33.7%;
	margin:10px; 	/*for space in between the cards */
	height: 70%;
}

.info1:nth-child(1){
	background-color: rgba(234,142,57,.2);
	border:2px solid rgba(234,142,57,1);
	color: rgba(234,142,57,1)
}
.info1:nth-child(2){
	background-color: rgba(236,72,127,.2);
	border:2px solid rgba(236,72,127,1);
	color: rgba(236,72,127,1);
}
.info1:nth-child(3){
	background-color: rgba(56,175,91,.2);
	border:2px solid rgba(56,175,91,1);
	color: rgba(56,175,91,1);
}
.info1{
	margin:20.1px;	/*for space in between the cards */
	/* height:10%; */
	/* width:82%; */
	/* margin-left: 10px; */
	padding-top:20px;

}

/* dropdown */

.form{
	width:40%;
	color:rgba(248, 248, 255, 0.479);
	margin:10px
}.form1{
	width:20%;
	
	color:rgba(248, 248, 255, 0.479);
	margin:10px
}
.mat-select {
    /* width:20px;
    max-width:20px; */
	/* background-color: ghostwhite; */
	color:ghostwhite;
	/* font-size: 20px;
	padding-left:100px; */
}
/* no of grids */
.item1 { grid-area: map; }
.item2 { grid-area: info; }
.item3 { grid-area: graph1; }
.item4 { grid-area: graph2; }
.item5 { grid-area: store; }
.item6 { grid-area: twitter; }

.grid-container {
  display: grid;
  grid-template-areas:
    'map map map'
    'info info info'
    'graph1 graph1 graph1'
    'graph2 graph2 graph2'
    'store store store'
    'twitter twitter twitter';
  grid-gap: 10px;
  background-color: #191919;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  /* background-color: white; */
  padding: 20px 0;
  font-size: 30px;
  border: 2px solid #f8f8ff4b;
}