<html>
<head>
</head>
<body>

<h1>{{usercountry}}</h1>

<p>This grid layout contains six columns and three rows:</p>

<div class="grid-container">
  <div class="item1">
    <div id="chartdiv" style="height:500px"></div>
  </div>
  <div class="item2">
    <div class="flex-container">
      <mat-card class="info" >TOTAL CASES:<br>{{infected}}</mat-card>
      <mat-card class="info" >DECEASED:<br>{{dead}}</mat-card>
      <mat-card class="info" >RECOVERED:<br>{{recovered}}</mat-card>
    </div>
  </div>
  <div class="item3">

    <!-- dropdown -->
    <!-- <mat-form-field class="form">
      <mat-label>Select Country for Live Data</mat-label>
      <mat-select [(ngModel)]="usercountry">
        <mat-option>None</mat-option>
        <mat-option (click)="getData()" *ngFor="let state of states" [value]="state" >{{state}}</mat-option>
      </mat-select>
    </mat-form-field> -->
    <h3>Select Country for Live Data</h3>
 <span class="custom-dropdown">
   <select [(ngModel)]="usercountry" (ngModelChange)="onchange($event)"> 
      <option (ngModelChange)="onchange($event)" *ngFor="let state of states" [value]="state">{{state}}</option>
     </select>
  </span>
    
    <div class="flex-container">
      <div class="graph1" style="width:35%; height:50%">
        <canvas id="pie" height="270"></canvas>
      </div>

      <div class="graph1" style="width:65%; height:50%">
        <canvas id="line" height="145"></canvas>
      </div>
    </div>
    <div class="flex-container" >
      <mat-card class="info" >ACTIVE CASES:<br>{{country.active}}</mat-card>
        <mat-card class="info" >DECEASED:<br>{{country.deaths}}</mat-card>
        <mat-card class="info" >RECOVERED:<br>{{country.recovered}}</mat-card>
    </div>
  </div>  
  <div class="item4">
    <h3>Select any two countries for comparision</h3>
    <div class="flex-container">
      <!-- <mat-form-field class="form1" >
        <mat-label class="mat-select">Select Country 1</mat-label>
        <mat-select [(ngModel)]="usercountry1" >
          <mat-option>None</mat-option>
          <mat-option (click)="compare()" *ngFor="let state of states" [value]="state" >{{state}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form1">
        <mat-label>Select Country 2</mat-label>
        <mat-select [(ngModel)]="usercountry2">
          <mat-option>None</mat-option>
          <mat-option (click)="compare()" *ngFor="let state of states" [value]="state">{{state}}</mat-option>
        </mat-select> -->
       <!-- </mat-form-field> -->
       <span class="custom-dropdown">
        <select [(ngModel)]="usercountry1" (ngModelChange)="compare()">
           <option (ngModelChange)="compare()" *ngFor="let state of states" [value]="state">{{state}}</option>
          </select>
       </span>
       <span class="custom-dropdown">
        <select [(ngModel)]="usercountry2" (ngModelChange)="compare()">
           <option (ngModelChange)="compare()" *ngFor="let state of states" [value]="state">{{state}}</option>
          </select>
       </span>
    </div>
    <canvas baseChart
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType"
    height="100">
    </canvas>
  </div>
  <div class="item5">
    <img src="./assets/images/fig2.jpg"/>
  </div>
  <div class="item6">
    <a class="twitter-timeline" data-lang="en" data-height="800" data-theme="dark" href="https://twitter.com/WHO?ref_src=twsrc%5Etfw">
      Tweets by WHO
    </a> 
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
    </script>
  </div>
</div>

</body>
</html>