*{
	margin:0;
	padding:0;
	overflow: visible;
	box-sizing: inherit;
  }

.chartmob{
	display:none;
}
p{
	color:whitesmoke;
}
img{
	margin-left: 5px;
	margin-right: 5px;
	height: auto;
	width:80%;
	/* float: left; */
	
}

h1{
	color:wheat;
}

h3{
	color:honeydew;
}

/* info-card */
.flex-container{
	display:flex;
	justify-content:center;
}

/* for th third grid charts */
.flex-container> .graph1{
	padding-left:10px;
	padding-right:10px;
	margin:10px;
	border:1px solid rgba(223, 223, 226, 0.404);
}

/* for each info-card */
.info:nth-child(1){
	background-color: rgba(255,135,38,1);
	border:2px solid rgba(255,135,38,1);
	color: white;
}
.info:nth-child(2){
	background-color: rgba(28,95,229,1);
	border:2px solid rgba(28,95,229,1) ;
	color: white;
}
.info:nth-child(3){
	background-color: rgba(69,210,26,1);
	border:2px solid rgba(69,210,26,1);
	color: white;
}

/* individual info-card */

.info{
	width:33.7%;
	margin:10px; 	/*for space in between the cards */
	height: 70%;
}

.info1:nth-child(1){
	background-color: rgba(255,135,38,1);
	border:2px solid rgba(255,135,38,1);
	color: white;}
.info1:nth-child(2){
	background-color: rgba(28,95,229,1);
	border:2px solid rgba(28,95,229,1) ;
	color: white;}
.info1:nth-child(3){
	background-color: rgba(69,210,26,1);
	border:2px solid rgba(69,210,26,1);
	color: white;}
.info1{
	margin:20.1px;	/*for space in between the cards */
	padding-top:20px;

}

/* dropdown */

.form{
	width:40%;
	color:rgba(248, 248, 255, 0.479);
	margin:10px
}.form1{
	width:20%;
	
	color:rgba(248, 248, 255, 0.479);
	margin:10px
}
.mat-select {
    /* width:20px;
    max-width:20px; */
	/* background-color: ghostwhite; */
	color:ghostwhite;
	/* font-size: 20px;
	padding-left:100px; */
}
/* no of grids */

.item1 { grid-area: map; }
.item2 { grid-area: info; }
.item3 { grid-area: graph1; }
.item4 { grid-area: graph2; }
.item5 { grid-area: store; }
.item6 { grid-area: twitter; }
.item6 > .flex-container{
	justify-content: space-around;
	margin: 10px;
 }
.item7{
	font-size: 5px;
	margin: 10px;

 }



.grid-container {
  display: flex;
  flex-direction: column;
  /* grid-template-areas:
    'map'
    'info'
    'graph1'
    'graph2'
    'store'
    'twitter'; */
  grid-gap: 10px;
  background-color: #191919;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  /* background-color: white; */
  padding: 20px 0;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
  border: 2px solid #f8f8ff4b;
  /* width:100%; */
}

/* dropdown */
.custom-dropdown {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 10px; /* demo only */
  }
  
  .custom-dropdown select {
	background-color: #1abc9cab;
	color: #fff;
	font-size: inherit;
	padding: .5em;
	padding-right: 2.5em;	
	border: 0;
	margin: 0;
	border-radius: 3px;
	text-indent: 0.01px;
	text-overflow: '';
	-webkit-appearance: button; /* hide default arrow in chrome OSX */
  }
  
  .custom-dropdown::before,
  .custom-dropdown::after {
	content: "";
	position: absolute;
	pointer-events: none;
  }
  
  .custom-dropdown::after { /*  Custom dropdown arrow */
	content: "\25BC";
	height: 1em;
	font-size: .625em;
	line-height: 1;
	right: 1.2em;
	top: 50%;
	margin-top: -.5em;
  }
  
  .custom-dropdown::before { /*  Custom dropdown arrow cover */
	width: 2em;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 0 3px 3px 0;
  }
  
  .custom-dropdown select[disabled] {
	color: rgba(0,0,0,.3);
  }
  
  .custom-dropdown select[disabled]::after {
	color: rgba(0,0,0,.1);
  }
  
  .custom-dropdown::before {
	background-color: rgba(0,0,0,.15);
  }
  
  .custom-dropdown::after {
	color: rgba(0,0,0,.4);
  }

  /* grid 5 buttons */
  @keyframes glowing {
	0% {text-shadow:0 0 .1em, 0 0 .1em;}
	25% {text-shadow:0 0 .1em, 0 0 .2em;}
   
  }
  @-webkit-keyframes glowing {
	
	0% {text-shadow:0 0 .1em, 0 0 .1em;}
	25% {text-shadow:0 0 .1em, 0 0 .2em;}
  
  }
  h2{color:#1CBB22;animation: glowing 2s infinite;text-align: center;}
  
  
  .a{
	  color: #03E9F4;
	  display: inline-block;
	  /* font-size: 24px; */
	  letter-spacing: 2px;
	  margin: 20px 40px;
	  padding: 24px 30px;
	  position: relative;
	  overflow: hidden;
	  text-decoration: none;
	  text-transform: uppercase;
	  transition: 0.5s;
  }
  
  .a:nth-child(1){
	filter: hue-rotate(290deg);
	margin-right: 35px;
  }
  
  .a:nth-child(3){
	  filter: hue-rotate(110deg);
  }
  
  .a:nth-child(6){
	  filter: hue-rotate(110deg);
  }
  
  .a:nth-child(4){
	  filter: hue-rotate(290deg);
  }
  
  .a:hover{
	background: #03E9F4;
	transform: translateY(-0.25em);
	  box-shadow: 0 0 5px #03E9F4, 0 0 25px #03E9F4, 0 0 50px #03E9F4, 0 0 200px #03E9F4;
	  color: #050801;
  }
  
  .a span{
	  display: block;
	  position: absolute;
  }
  
  .a span:nth-child(1){
	  animation: animate1 1s linear infinite;
	  background: linear-gradient(90deg, transparent, #03E9F4);
	  height: 2px;
	  left: -100%;
	  top: 0;
	  width: 100%;
  }
  
  @keyframes animate1{
	  0%{
		  left: -100%;
	  }
	  50%, 100%{
		  left: 100%;	
	  }
  }
  
  .a span:nth-child(2){
	  animation: animate2 1s linear infinite;
	  animation-delay: 0.25s;
	  background: linear-gradient(180deg, transparent, #03E9F4);
	  height: 100%;
	  top: -100%;
	  right: 0;
	  width: 2px;
  }
  
  @keyframes animate2{
	  0%{
		  top: -100%;
	  }
	  50%, 100%{
		  top: 100%;	
	  }
  }
  
  .a span:nth-child(3){
	  animation: animate3 1s linear infinite;
	  animation-delay: 0.5s;
	  background: linear-gradient(270deg, transparent, #03E9F4);
	  bottom: 0;
	  height: 2px;
	  right: -100%;
	  width: 100%;
  }
  
  @keyframes animate3{
	  0%{
		  right: -100%;
	  }
	  50%, 100%{
		  right: 100%;	
	  }
  }
  
  .a span:nth-child(4){
	  animation: animate4 1s linear infinite;
	  animation-delay: 0.75s;
	  background: linear-gradient(360deg, transparent, #03E9F4);
	  bottom: -100%;
	  height: 100%;
	  left: 0;
	  width: 2px;
  }
  
  @keyframes animate4{
	  0%{
		  bottom: -100%;
	  }
	  50%, 100%{
		  bottom: 100%;	
	  }
  }

  .item5 > .flex-container {
	justify-content: center;
  align-items: center;
   
}
   
  .main{
	height:100%;
	justify-content: center;
  	align-items: center;
  	/* border:2px solid white; */
	/* background-color : #201E27 ; */
}
.buttons{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
}


  .twitter{
	  margin-left: 5px;
	  margin-right: 5px;
  }
  
	.item5 > .main{
		vertical-align: baseline;
	}

	.bar{
		height: 500px;
	}


  @media (max-width: 700px) {

	* {   
	  flex-direction: column;
	}
	h1{
		font-size:20px;
	}

	#chartdiv{
	display: none;
	}
	.chartmob{
		display:block;
	}
	.info{
		width:90%;
		padding-left:10px; 	/*for space in between the cards */
		padding-right:10px; 
		/* height: 10%; */
	}
	.flex-container{
		align-items: center;
	}
	.custom-dropdown {
		position: relative;
		width:90%;
		/*for space in between the cards */
		padding-bottom:10px; 
		/* height: 10px; */
	  }
	  .custom-dropdown select {
		background-color: #1abc9cab;
		color: #fff;
		font-size: inherit;
		border: 0;
		border-radius: 3px;
		text-indent: 0.01px;
		text-overflow: '';
		-webkit-appearance: button; /* hide default arrow in chrome OSX */
	  }
	  .bar{
		  height: 400px;
	  }

	  .graph1{
		  width: 90%;
	  }
	  .item4>.flex-container{
		  flex-direction:column;
	  }

	  .custom-dropdown select {
		background-color: #1abc9cab;
		color: #fff;
		font-size: 10px;
		border-radius: 3px;
		text-indent: 0.01px;
		text-overflow: '';
		-webkit-appearance: button; /* hide default arrow in chrome OSX */
	  }

	  
	  .custom-dropdown::before,
	  .custom-dropdown::after {
		  display: none;
	  }

  }